body{    
    height: 100vh;
    background-color: rgb(91, 81, 99);
}

.content{  
    position: fixed;  
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: max-content;
    height: max-content;
    margin: auto;
}

h1, h2{
    font-weight: lighter;
    color: white;
}

a{
    color:white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: large;
}